@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.title {
    margin-top: 5%;
    text-align: center;
}

.h2-text {
    text-align: center;
    margin-left: 2%; margin-right: 2%; margin-top: 5%;
}

.media:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.15s ease; 
}

.stanford-logo {
    width: 80%; 
    height: auto;
    margin-left: 10px;
    /* float: left; */
}

.my-picture {
    width: 90%; 
    height: auto;
    margin-right: 10px;
    border-radius: 20px;
    float: right;
}

.research-page-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
}

.forest-cover:hover {
    box-shadow: 10px 20px 100px green;
}

.forest-figures:hover {
    box-shadow: 10px 20px 100px green;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}